body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7fbfc;
}

.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr 50px 50px;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "widget"
    "change"
    "idea";
  text-align: center;
  color: #225085;
  height: 100vh;
}

.header {
  grid-area: header;
  border-bottom: 1px solid #769fcd;
  font-size: 16px;
  background-color: #b9d7ea;
}

.widget {
  grid-area: widget;
}

.change {
  grid-area: change;
  margin-top: 20px;
}

.idea {
  grid-area: idea;
  border-top: 1px solid #769fcd;
  padding: 5px;
}

.pants {
  font-style: italic;
}
button,
input {
  border: 1px solid #769fcd;
}
@media only screen and (max-width: 389px) {
  .header {
    font-size: 12px;
  }
}
